停群删除汇率数据.yml
app:
  description: ''
  icon: 🤖
  icon_background: '#D5D9EB'
  icon_type: emoji
  mode: advanced-chat
  name: 停群删除汇率数据
  use_icon_as_answer_icon: false
dependencies:
- current_identifier: null
  type: marketplace
  value:
    marketplace_plugin_unique_identifier: langgenius/tongyi:0.2.1@0924de1d15a8a35b0cc64ff396c68d5edddcfbc495a1e52ea57e8648434eff4b
    version: null
kind: app
version: 0.6.0
workflow:
  conversation_variables: []
  environment_variables: []
  features:
    file_upload:
      allowed_file_extensions:
      - .JPG
      - .JPEG
      - .PNG
      - .GIF
      - .WEBP
      - .SVG
      allowed_file_types:
      - image
      allowed_file_upload_methods:
      - remote_url
      - local_file
      enabled: false
      fileUploadConfig:
        attachment_image_file_size_limit: 2
        audio_file_size_limit: 50
        batch_count_limit: 5
        file_size_limit: 15
        file_upload_limit: 20
        image_file_batch_limit: 10
        image_file_size_limit: 10
        single_chunk_attachment_limit: 10
        video_file_size_limit: 100
        workflow_file_upload_limit: 10
      image:
        enabled: false
        number_limits: 3
        transfer_methods:
        - local_file
        - remote_url
      number_limits: 3
    opening_statement: '输入模板1：删除 群名 卡类 （如：删除 s1999 美国苹果卡实体卡）说明：会删除s1999群 美国苹果卡实体卡
      全部信息；


      输入模板2：删除 群名         （如：删除 s1999 ）说明：会删除s1999群 全部卡类型信息；


      输入模板3：删除 群名 卡类 （如：删除 s1999 美国苹果卡）说明：会删除s1999群 苹果卡美国 全部信息 包括（实体卡  电子卡  代码卡  竖卡）；


      输入模板4：删除一天前的数据（如：删除一天前的数据）说明：如果你是今天10点之前执行的该命令，会删除昨天10点之前的全部数据；


      输入模板5：删除全部数据（如：删除全部数据）说明：会删除数据库中全部的汇率数据；


      请严格按照输入模板来写，你需要删除的信息；'
    retriever_resource:
      enabled: false
    sensitive_word_avoidance:
      enabled: false
    speech_to_text:
      enabled: false
    suggested_questions: []
    suggested_questions_after_answer:
      enabled: false
    text_to_speech:
      enabled: false
      language: ''
      voice: ''
  graph:
    edges:
    - data:
        isInLoop: false
        sourceType: start
        targetType: llm
      id: 1774075077315-source-1782192737155-target
      source: '1774075077315'
      sourceHandle: source
      target: '1782192737155'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: llm
        targetType: http-request
      id: 1782192737155-source-1782192792837-target
      source: '1782192737155'
      sourceHandle: source
      target: '1782192792837'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: http-request
        targetType: answer
      id: 1782192792837-source-1782192808905-target
      source: '1782192792837'
      sourceHandle: source
      target: '1782192808905'
      targetHandle: target
      type: custom
      zIndex: 0
    nodes:
    - data:
        selected: false
        title: 开始
        type: start
        variables: []
      height: 73
      id: '1774075077315'
      position:
        x: 969.7965945254291
        y: -116.43323655094335
      positionAbsolute:
        x: 969.7965945254291
        y: -116.43323655094335
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        context:
          enabled: true
          variable_selector:
          - sys
          - query
        model:
          completion_params:
            temperature: 0.7
          mode: chat
          name: qwen3.6-plus
          provider: langgenius/tongyi/tongyi
        prompt_template:
        - id: 0eb4fa02-ce72-4c80-ae78-7216cbc0410e
          role: system
          text: "从用户输入中提取删除参数，只输出JSON，不要任何解释。\n\n{{#context#}}\n\n规则：\n- **删除全部数据**：如果用户说\"\
            删除全部\"、\"清空数据库\"、\"清除所有\" → {\"delete_all\":true}\n- **删除一天前数据**：如果用户说\"\
            删除一天前\"、\"清除旧数据\"、\"删除24小时前\" → {\"delete_old\":true}\n- 只删群：{\"groupname\"\
            :\"群名\"}\n- 删群内一种卡：{\"groupname\":\"群名\",\"cardnames\":[\"苹果卡 国家 卡类型\"\
            ]}\n- 删群内多种卡：{\"groupname\":\"群名\",\"cardnames\":[\"苹果卡 国家 卡类型1\",\"苹果卡\
            \ 国家 卡类型2\"]}\n- 如果用户只写国家没写卡类型，自动展开：\n  - 美国 → [\"苹果卡 美国 实体卡\",\"苹果卡 美国\
            \ 代码卡\",\"苹果卡 美国 电子卡\",\"苹果卡 美国 竖卡\"]\n  - 其他国家 → [\"苹果卡 国家 实体卡\",\"苹果卡\
            \ 国家 代码卡\"]\n\n示例：\n输入：删除全部数据\n输出：{\"delete_all\":true}\n\n输入：删除一天前的全部数据\n\
            输出：{\"delete_old\":true}\n\n输入：删除测试1313\n输出：{\"groupname\":\"测试1313\"\
            }\n\n输入：测试1313 苹果卡美国实体卡 删除\n输出：{\"groupname\":\"测试1313\",\"cardnames\"\
            :[\"苹果卡 美国 实体卡\"]}\n\n输入：测试1313 苹果卡美国 删除\n输出：{\"groupname\":\"测试1313\"\
            ,\"cardnames\":[\"苹果卡 美国 实体卡\",\"苹果卡 美国 代码卡\",\"苹果卡 美国 电子卡\",\"苹果卡 美国\
            \ 竖卡\"]}\n\n输入：{{#sys.query#}}"
        selected: false
        title: LLM
        type: llm
        vision:
          enabled: false
      height: 88
      id: '1782192737155'
      position:
        x: 969.7965945254291
        y: 33.406304692271476
      positionAbsolute:
        x: 969.7965945254291
        y: 33.406304692271476
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        authorization:
          config: null
          type: no-auth
        body:
          data:
          - id: key-value-35
            key: ''
            type: text
            value: '{{#1782192737155.text#}}'
          type: json
        headers: ''
        method: post
        params: ''
        retry_config:
          max_retries: 3
          retry_enabled: true
          retry_interval: 100
        selected: false
        ssl_verify: true
        timeout:
          max_connect_timeout: 0
          max_read_timeout: 0
          max_write_timeout: 0
        title: HTTP 请求
        type: http-request
        url: http://192.168.3.39:9998/delete
        variables: []
      height: 139
      id: '1782192792837'
      position:
        x: 969.7965945254291
        y: 194.45573124629004
      positionAbsolute:
        x: 969.7965945254291
        y: 194.45573124629004
      selected: true
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        answer: '{{#1782192792837.body#}}'
        selected: false
        title: 直接回复
        type: answer
        variables: []
      height: 103
      id: '1782192808905'
      position:
        x: 1409.7011692997532
        y: 194.45573124629004
      positionAbsolute:
        x: 1409.7011692997532
        y: 194.45573124629004
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    viewport:
      x: -1558.8687470258028
      y: 178.17100353742097
      zoom: 1.2170035434662962
  rag_pipeline_variables: []
