广告导入加数据库导入.yml
app:
  description: ''
  icon: mortar_board
  icon_background: '#E0EAFF'
  icon_type: emoji
  mode: advanced-chat
  name: 广告导入加数据库导入
  use_icon_as_answer_icon: false
dependencies:
- current_identifier: null
  type: marketplace
  value:
    marketplace_plugin_unique_identifier: langgenius/tongyi:0.2.1@0924de1d15a8a35b0cc64ff396c68d5edddcfbc495a1e52ea57e8648434eff4b
    version: null
kind: app
version: 0.6.0
workflow:
  conversation_variables: []
  environment_variables: []
  features:
    file_upload:
      allowed_file_extensions:
      - .JPG
      - .JPEG
      - .PNG
      - .GIF
      - .WEBP
      - .SVG
      allowed_file_types:
      - image
      allowed_file_upload_methods:
      - local_file
      - remote_url
      enabled: false
      fileUploadConfig:
        attachment_image_file_size_limit: 2
        audio_file_size_limit: 50
        batch_count_limit: 5
        file_size_limit: 15
        file_upload_limit: 20
        image_file_batch_limit: 10
        image_file_size_limit: 10
        single_chunk_attachment_limit: 10
        video_file_size_limit: 100
        workflow_file_upload_limit: 10
      image:
        enabled: false
        number_limits: 3
        transfer_methods:
        - local_file
        - remote_url
      number_limits: 3
    opening_statement: ''
    retriever_resource:
      enabled: false
    sensitive_word_avoidance:
      enabled: false
    speech_to_text:
      enabled: false
    suggested_questions: []
    suggested_questions_after_answer:
      enabled: false
    text_to_speech:
      enabled: false
      language: ''
      voice: ''
  graph:
    edges:
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: start
        targetType: code
      id: 1779173805196-source-1779174813837-target
      selected: false
      source: '1779173805196'
      sourceHandle: source
      target: '1779174813837'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: code
        targetType: code
      id: 1779174813837-source-1779175620805-target
      selected: false
      source: '1779174813837'
      sourceHandle: source
      target: '1779175620805'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: code
        targetType: llm
      id: 1779175620805-source-llm-target
      selected: false
      source: '1779175620805'
      sourceHandle: source
      target: llm
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: code
        targetType: http-request
      id: 1782352897044-source-1782353305995-target
      selected: false
      source: '1782352897044'
      sourceHandle: source
      target: '1782353305995'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: http-request
        targetType: answer
      id: 1782353305995-source-answer-target
      selected: false
      source: '1782353305995'
      sourceHandle: source
      target: answer
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: llm
        targetType: code
      id: llm-source-1782352897044-target
      source: llm
      sourceHandle: source
      target: '1782352897044'
      targetHandle: target
      type: custom
      zIndex: 0
    nodes:
    - data:
        selected: false
        title: 用户输入
        type: start
        variables: []
      height: 73
      id: '1779173805196'
      position:
        x: -495.6107260163209
        y: -326.02853702241873
      positionAbsolute:
        x: -495.6107260163209
        y: -326.02853702241873
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        context:
          enabled: true
          variable_selector:
          - '1779175620805'
          - combined_prompt
        memory:
          query_prompt_template: '{{#sys.query#}}


            {{#sys.files#}}'
          role_prefix:
            assistant: ''
            user: ''
          window:
            enabled: true
            size: 50
        model:
          completion_params:
            max_tokens: 39101
            temperature: 0
            top_p: 0.1
          mode: chat
          name: qwen3.7-max
          provider: langgenius/tongyi/tongyi
        prompt_template:
        - id: eadf10f2-f806-4716-a53a-64c15590d8b6
          role: system
          text: "你是一个专业的礼品卡汇率分析助手。请严格遵循以下规则处理输入的文本。\n\n{{#context#}}\n\n## 核心原则：输入中每一行有效数据（包含面值范围和汇率）都必须对应输出一行，不得遗漏任何面值区间。**包括同一国家下的多行、同一行中的多个“面值=汇率”对（已按空格拆分处理），以及不同卡类型的行（例如“代码”行和“卡图”行分别输出）。**\n\
            \n**特别注意**：对于美国苹果卡和英国苹果卡，如果面值范围不在 2.2.3 的列表中，**即使有汇率数据也禁止输出**。特别是：\n\n\
            ## 零、强制全量输出规则（最高优先级）\n\n**这是最高优先级规则，覆盖所有其他规则。**\n\n1. 你必须解析输入中的**每一条有效数据**，生成**全部记录**。\n\
            2. **绝对禁止**判断数据是否重复或变更。\n3. **绝对禁止**省略任何一条记录，即使汇率和上一批完全相同。\n4. 逐一检查每个面值、每个国家、每种卡类型，全部都要输出，一条都不能少。\n\
            5. 如果少输出任何一条记录，将导致严重后果。\n\n\n## 一、卡片类型识别与命名（核心）\n\n### 1.1 卡名识别（白名单）\n\
            - 如果原文包含以下关键词，确定卡名（优先级按出现顺序）：\n  - “苹果”/“iTunes”/“Apple” → **苹果卡**\n \
            \ - “谷歌”/“Google”/“Google Play” → **谷歌卡**\n  - “亚马逊”/“Amazon” → **亚马逊卡**\n\
            \  - “eBay”/“ebay” → **eBay卡**\n  - “Steam” → **Steam卡**\n  - “Xbox”/“xbox”\
            \ → **Xbox卡**\n  - “雷蛇”/“Razer”/“黄金雷蛇”/“外卡雷蛇” → **雷蛇卡**\n  - “丝芙兰”/“Sephora”\
            \ → **丝芙兰卡**\n  - “香草”/“Vanilla” → **香草卡**\n  - “美国运通”/“Amex”/“American\
            \ Express” → **美国运通卡**\n  - “PSN”/“PlayStation” → **PSN卡**\n  - “Apple\
            \ Pay”/“applepay” → **Apple Pay**\n  - “Chime” → **Chime**\n  - “Paysafe”/“Paysafecard”\
            \ → **Paysafe卡**\n- 如果未匹配到任何卡名，默认卡名为 **苹果卡**。\n\n### 1.2 地区识别（映射表）\n根据原文中的国家代码或名称，转换为标准地区名。支持以下地区：\n\
            美国、英国、日本、台湾、香港、德国、欧盟、加拿大、澳大利亚、瑞士、新西兰、波兰、挪威、瑞典、罗马尼亚、捷克、丹麦、匈牙利、保加利亚、墨西哥、阿联酋、新加坡、希腊、葡萄牙、奥地利、比利时、芬兰、法国、爱尔兰、意大利、卢森堡、荷兰、西班牙、塞浦路斯、克罗地亚、爱沙尼亚、拉脱维亚、立陶宛、马耳他、斯洛伐克、斯洛文尼亚、韩国、哥伦比亚、沙特阿拉伯、智利、印度、南非、以色列、土耳其。\n\
            \n**特别说明**：\n- 当原文中出现“比/爱/奥”时，其中的“爱”代表**爱尔兰**（Ireland），而非爱沙尼亚（Estonia）。\n\
            - 独立的“爱沙尼亚”或“ee”才映射为爱沙尼亚。\n- 其他缩写/全称映射示例如下（不区分大小写）：\n\n映射示例（不区分大小写）：\n\
            - 美国：us, usa, 美国, 美金, usd\n- 英国：uk, gbp, 英国, 英镑\n- 日本：jp, jpy, 日本, 日元\n\
            - 台湾：tw, taiwan, 台湾\n- 香港：hk, hongkong, 香港\n- 德国：de, germany, 德国\n- 欧盟：eu,\
            \ europe, eur, europa, 欧盟\n- 加拿大：ca, cad, canada, 加拿大\n- 澳大利亚：au, aud,\
            \ australia, 澳大利亚\n- 瑞士：ch, chf, switzerland, 瑞士\n- 新西兰：nz, nzd, new zealand,\
            \ 新西兰\n- 波兰：pl, pln, poland, 波兰\n- 挪威：no, norway, 挪威\n- 瑞典：se, sweden,\
            \ 瑞典\n- 罗马尼亚：ro, romania, 罗马尼亚\n- 捷克：cz, czech, 捷克\n- 丹麦：dk, denmark,\
            \ 丹麦\n- 匈牙利：hu, hungary, 匈牙利\n- 保加利亚：bg, bulgaria, 保加利亚\n- 墨西哥：mx, mexico,\
            \ 墨西哥\n- 阿联酋：uae, united arab emirates, 阿联酋\n- 新加坡：sg, singapore, 新加坡\n\
            - 希腊：gr, greece, 希腊\n- 葡萄牙：pt, portugal, 葡萄牙\n- 奥地利：at, austria, 奥地利\n\
            - 比利时：be, belgium, 比利时\n- 芬兰：fi, finland, 芬兰\n- 法国：fr, france, 法国\n- 爱尔兰：ie,\
            \ ireland, 爱尔兰\n- 意大利：it, italy, 意大利\n- 卢森堡：lu, luxembourg, 卢森堡\n- 荷兰：nl,\
            \ netherlands, 荷兰\n- 西班牙：es, spain, 西班牙\n- 塞浦路斯：cy, cyprus, 塞浦路斯\n- 克罗地亚：hr,\
            \ croatia, 克罗地亚\n- 爱沙尼亚：ee, estonia, 爱沙尼亚\n- 拉脱维亚：lv, latvia, 拉脱维亚\n-\
            \ 立陶宛：lt, lithuania, 立陶宛\n- 马耳他：mt, malta, 马耳他\n- 斯洛伐克：sk, slovakia, 斯洛伐克\n\
            - 斯洛文尼亚：si, slovenia, 斯洛文尼亚\n- 韩国：kr, korea, 韩国\n- 哥伦比亚：colombia, 哥伦比亚\n\
            - 沙特阿拉伯：sa, saudi arabia, 沙特阿拉伯, 沙特\n- 智利：chile, 智利\n- 印度：india, 印度\n\
            - 南非：south africa, 南非\n- 以色列：israel, 以色列\n- 土耳其：Turkey,土耳其  \n- 巴西：Brazil,巴西\n\
            \n若未找到任何地区标识，默认地区为 **美国**。\n\n#### 1.2.1 多国家组合识别与拆分\n\n**格式**：当一行中出现多个国家名称/缩写连写（无分隔符或有\"\
            /\"分隔）时，表示该行数据同时适用于多个国家。\n\n**识别规则**：\n- 扫描行中是否包含已知国家名称或缩写的组合\n- 常见组合示例：\n\
            \  - `葡卢希` → 葡萄牙、卢森堡、希腊\n  - `葡/卢/希` → 葡萄牙、卢森堡、希腊\n  - `比爱奥` → 比利时、爱尔兰、奥地利\n\
            \  - `奥比爱` → 奥地利、比利时、爱尔兰\n  - `比/爱/奥` → 比利时、爱尔兰、奥地利\n\n**处理规则**：\n1. 将组合拆分为独立的国家，每个国家分别输出一条记录。\n\
            2. 每个国家的记录面值、汇率、卡类型、方法完全相同。\n3. 拆分后的国家名称使用标准全称。\n\n**示例**：\n输入：`葡卢希图密\
            \ 25-200 5倍【5.26】`\n输出：\n- 快加 苹果卡 葡萄牙 代码卡 25-200（5的倍数） 5.26\n- 快加 苹果卡\
            \ 卢森堡 代码卡 25-200（5的倍数） 5.26\n- 快加 苹果卡 希腊 代码卡 25-200（5的倍数） 5.26\n\n\n###\
            \ 1.3 卡类型映射与替换规则\n- **仅对苹果卡需要添加卡类型**。其他所有卡（谷歌卡、亚马逊卡、eBay卡、Steam卡、Xbox卡、雷蛇卡、丝芙兰卡、香草卡、美国运通卡、PSN卡、Apple\
            \ Pay、Chime、Paysafe卡）一律**不添加卡类型**，卡片名称格式为 `{卡名} {地区}`。\n- **苹果卡的卡类型映射**：\n\
            \  - “横白”、“卡图”、“横白卡图”、“散卡”、“碎卡”、“白卡”、“白板” → **实体卡**\n  - “电子”、“电子图” →\
            \ **电子卡**\n  - “代码”、“卡密”、“密”、“图密”、“电子图代码“  → **代码卡**\n  - “竖”、“竖卡” → **竖卡**\n\
            - **强制默认规则**：对于苹果卡，**无论何种情况**，如果一行中没有出现上述任何映射关键词（横白、电子、代码、竖等），则**必须**使用默认卡类型\
            \ **“白板卡”**。不得省略，不得留空。**即使在原文中没有“横白”、“卡图”等词，也必须在输出中加上“白板卡”**。\n- **对于\
            \ Xbox卡、雷蛇卡、Paysafe卡**：忽略“图/卡图/代码/电子”等后缀，**不添加卡类型**（即卡片名称仅含卡名+地区）。\n-\
            \ 对于苹果卡以外的卡，即使原文出现“横白”、“电子”、“竖卡”等词，也忽略，不添加卡类型。\n\n### 1.4 卡片名称格式\n- 苹果卡：`苹果卡\
            \ {地区} {卡类型}`（例如“苹果卡 美国 白板卡”、“苹果卡 澳大利亚 白板卡”、“苹果卡 墨西哥 白板卡”）\n- 其他卡：`{卡名}\
            \ {地区}`（例如“雷蛇卡 美国”、“Xbox卡 加拿大”、“Paysafe卡 欧盟”）\n**注意**：输出中的 `<CardName>`\
            \ 标签内容必须严格遵循此格式。对于苹果卡，{卡类型} 必须有值，默认取“白板卡”。\n\n### 1.5 注释行中的卡类型拆分指示\n-\
            \ 当一行以“#”开头，且内容中包含“/”分隔的多个卡类型关键词（例如“#US电子图/竖卡快刷”），则该行作为**指示行**，不输出任何记录。\n\
            - 该指示行定义了下文（直到下一个以“#”开头的行或文件结束）中所有有效行应拆分为多个卡类型，每个卡类型分别输出。\n- 拆分方式：将“/”前后的关键词分别映射为对应的卡类型（根据规则1.3），然后对于后续的每个面值区间，分别生成对应卡类型的输出。\n\
            - 示例：\n  - 指示行：`#US电子图/竖卡快刷`\n  - 后续行：`US 100-500=5.6 50倍`\n  - 应输出两条：\n\
            [\n  {\"method\":\"快刷\",\"cardname\":\"苹果卡 美国 电子卡\",\"value\":\"100-500（50的倍数）\"\
            ,\"rate\":\"5.6\",\"Exolanation\":\"倍数匹配\",\"groupname\":\"群名\"},\n  {\"\
            method\":\"快刷\",\"cardname\":\"苹果卡 美国 竖卡\",\"value\":\"100-500（50的倍数）\"\
            ,\"rate\":\"5.6\",\"Exolanation\":\"倍数匹配\",\"groupname\":\"群名\"}\n]\n\
            - 注意：如果指示行中只包含一个卡类型（无“/”），则不拆分，仅作为普通注释忽略。\n- 指示行仅对其后的行有效，直到遇到下一个指示行或文件结束。多个指示行可连续出现，后续行只受最近的指示行影响。\n\
            \n\n## 二、使用方法（Method）确定规则\n\n**每个输出记录必须包含 \"method\" 标签，放在 \"cardname\"\
            之前。**\n\n### 2.1 非苹果卡（谷歌卡、亚马逊卡、eBay卡、Steam卡、Xbox卡、雷蛇卡、丝芙兰卡、香草卡、美国运通卡、PSN卡、Apple\
            \ Pay、Chime、Paysafe卡）的方法\n- 这类卡**一律使用方法 “快加”**，无论原文中是否出现方法关键词，均忽略。\n\n\
            ### 2.2 苹果卡的方法识别（从原文关键词中提取，优先级从高到低）\n\n#### 2.2.0 段落标题方法继承（必须遵守）\n- 标题行（以\
            \ `【】`、`====`、`---`、`####` 等分隔）中的**方法关键词**决定该段落所有行的默认方法。\n- **必须识别的标题方法关键词：**\n\
            \  - `快刷`、`极速`  → 默认方法为 **“快刷”**\n  - `快加`、`快加问` → 默认方法为 **“快加”**\n  -\
            \ `凑卡`、`凑卡网单` → 默认方法为 **“凑卡”**\n  - `慢卡`、`慢加`、`慢` → 默认方法为 **“慢卡”**（仅英国苹果卡）\n\
            - **重要**：标题中的卡名关键词（如 `iTunes`、`Apple`、`iTune` 等）**不继承方法**，只用于识别卡名。\n-\
            \ **只有标题中明确出现上述方法关键词时，才继承方法。** 如果标题中没有方法关键词，该段落下的行**不继承任何方法**，进入国家默认判断。\n\
            - **强制示例（必须严格执行）：**\n  - `【Apple-美国 快刷1-3分钟】` → 包含 **“快刷”** → 该标题下所有行默认方法\
            \ = **“快刷”**\n    - `US: 200-500=5.8 完整清晰卡图` → **必须输出快刷**\n    - `US:\
            \ 100/150=5.75 完整清晰卡图` → **必须输出快刷**\n  - `【苹果快刷 5-15min】` → 包含“快刷” → 该标题下所有行默认方法\
            \ = **“快刷”**\n  - `【苹果快加】` → 包含“快加” → 该标题下所有行默认方法 = **“快加”**\n  - `【iTune\
            \ US】` → **不包含任何方法关键词** → 该标题下所有行**不继承方法**，进入国家判断\n  - `======UK慢卡===`\
            \ → 包含“慢卡” → 该标题下所有行默认方法 = **“慢卡”**\n  - `=======德国快刷=====` → 包含“快刷” →\
            \ 该标题下所有行默认方法 = **“快刷”**\n\n#### 2.2.1 行内明确指定方法（最高优先级）\n- 只要数据行内包含以下关键词，**无论该行是否有“散卡”、“卡图”、“卡密”等前缀**，都按关键词确定方法：\n\
            \  - 包含 **“快加”** 或 **“快加问”** → 方法设为 **“快加”**\n  - 包含 **“快刷”** 或 **“极速”**\
            \ → 方法设为 **“快刷”**\n  - 包含 **“凑卡”** 或 **“凑卡网单”** → 方法设为 **“凑卡”**\n  - 包含\
            \ **“慢加”** 或 **“慢卡”** 或 **“慢”** → 方法设为 **“慢卡”**（仅英国苹果卡和美国苹果卡适用）\n- **重要**：关键词“快加”出现在行内任何位置（如行首的“散卡快加”、行中的“快加”、行尾的“快加问”）都必须识别。\n\
            \n#### 2.2.2 根据国家确定默认方法（无行内关键词时）\n\n**注意：本规则仅在 2.2.1 规则不匹配（即行内没有任何方法关键词）时才生效。**\n\
            \n**优先级说明（强制执行）**：\n1. **最高优先级：行内方法关键词**（2.2.1）→ 直接使用\n2. **次优先级：标题方法继承**（2.2.0）→\
            \ 如果标题包含方法关键词（快刷、快加、凑卡、慢卡），该段落下所有无行内方法关键词的行**必须继承标题方法**，不再进入国家默认判断\n3.\
            \ **最低优先级：国家默认判断** → 仅当标题**没有方法关键词**且行内**没有方法关键词**时才执行\n\n| 国家 | 处理方式\
            \ |\n|------|----------|\n| 美国 | **必须**执行 2.2.3 判断，只有匹配快加规则才输出，否则**禁止输出**\
            \ |\n| 英国 | **必须**执行 2.2.3 判断，只有匹配快加规则才输出，否则**禁止输出** |\n| 其他国家 | 默认输出快加\
            \ |\n\n**强制规则（必须严格遵守，不可有任何例外）：**\n1. 对于美国和英国的苹果卡，如果行内没有方法关键词且不满足 2.2.3\
            \ 的快加条件，**绝对禁止输出任何内容（包括快刷）**。\n2. **美国/英国苹果卡没有\"默认快刷\"的说法**，只有匹配快加条件才输出快加，否则不输出。\n\
            3. **标题中的\"iTunes\"、\"iTune\"、\"Apple\"等只用于识别卡名，不继承任何方法。** 即使标题是 `【iTune\
            \ US】` 或 `【iTunes US】`，该段落下的行仍按上述规则处理，**不允许输出快刷**。\n4. **特别注意**：`【iTune\
            \ US】` 标题下的 `200-500=5.8 50倍` 和 `100/150=5.75` 因为没有方法关键词，且面值不在快加列表中，**禁止输出**。\n\
            5. **标题方法继承优先于国家默认**：如果标题包含\"快刷\"，则段落内无行内关键词的行**必须输出快刷**，包括加拿大、澳大利亚等其他国家。例如标题\
            \ `【Apple 快刷】` 下的 `CAD 200-500=3.67` → 输出快刷，不是快加。\n\n#### 2.2.3 美国苹果卡和英国苹果卡的快加判断规则（强制执行）\n\
            \n**重要前提**：\n1. 本规则仅在 2.2.1 无匹配（行内没有快加/快刷/凑卡/慢卡关键词）**且标题无方法关键词**时才适用\n\
            2. 本规则对美国和英国苹果卡**强制执行**，不允许跳过\n3. **标题继承的方法（快加/快刷/凑卡/慢加）直接输出，不经过本规则判断**\n\
            \n**快加匹配规则（必须同时满足，缺一不可）：**\n\n| 条件编号 | 条件内容 |\n|----------|----------|\n\
            | 条件1 | 面值范围**必须落在 10-500 区间内**（即最小值 ≥ 10，最大值 ≤ 500） |\n| 条件2 | **任意倍数均可输出**，按实际倍数标注；**无倍数标识**（单一面值或纯区间）按区间匹配处理\
            \ |\n\n**判断流程（严格按顺序执行，不允许跳过或自行推断）：**\n\n第1步：检查行内是否有方法关键词（快加/快刷/凑卡/慢卡）\n\
            \       ↓\n       如果有 → 直接输出对应方法（跳过所有后续步骤）\n       如果没有 → 进入第2步\n    \
            \   ↓\n第2步：检查当前段落标题是否包含方法关键词（快加/快刷/凑卡/慢加/慢卡）\n       注意：\"iTunes\"、\"\
            Apple\"、\"苹果\"等卡名关键词不影响方法关键词的识别\n       ↓\n       如果标题包含方法关键词 → 继承标题方法，直接输出（跳过所有后续步骤）\n\
            \       如果标题不包含方法关键词 → 进入第3步\n       ↓\n第3步：判断国家是否为美国或英国\n       ↓\n \
            \      如果不是（即其他国家） → 默认输出快加\n       如果是（美国或英国） → 进入第4步\n       ↓\n第4步：检查面值范围是否在\
            \ 10-500 区间内\n       ↓\n       如果不在区间内 → 立即停止处理，该行**禁止输出**\n       如果在区间内\
            \ → 进入第5步\n       ↓\n第5步：确定倍数标注\n       ↓\n       如果无倍数标识（单一面值如`100`、纯区间如`200-500`）→\
            \ 输出快加，按区间匹配或精准匹配处理\n       如果有倍数标识（如`5倍`、`50倍`、`100倍`、`1倍`）→ 输出快加，面值后标注实际倍数\n\
            \       例如：\n       - 无倍数 → 面值写 `200-500` 或 `100`，说明\"区间匹配\"或\"精准匹配\"\n\
            \       - 5倍 → 面值标注（5的倍数）\n       - 50倍 → 面值标注（50的倍数）\n       - 1倍 → 面值标注（1的倍数）\n\
            \       - 100倍 → 面值标注（100的倍数）\n\n**有效示例**（面值在10-500区间内，任意倍数）：\n- `10-240\
            \ 5倍` → ✅ 输出快加，面值标注（5的倍数）\n- `10-195 5倍` → ✅ 输出快加，面值标注（5的倍数）\n- `200-500\
            \ 50倍` → ✅ 输出快加，面值标注（50的倍数）\n- `100/150` → ✅ 输出快加，拆分为100和150，精准匹配\n- `100-500\
            \ 100倍` → ✅ 输出快加，面值标注（100的倍数）\n- `10-500 无倍数` → ✅ 输出快加，区间匹配\n- `25-185\
            \ 5倍` → ✅ 输出快加，面值标注（5的倍数）\n- `20-90 5倍` → ✅ 输出快加，面值标注（5的倍数）\n- `26-199\
            \ 1倍` → ✅ 输出快加，面值标注（1的倍数）\n\n**标题继承示例（跳过2.2.3判断，直接输出）：**\n- 标题 `●iTunes-苹果快加`\
            \ + `US:1000-2000卡图=5.18（100倍）` → 标题包含\"快加\" → ✅ 直接输出快加\n- 标题 `【Apple-美国\
            \ 快刷1-3分钟】` + `US:200-500=5.8` → 标题包含\"快刷\" → ✅ 直接输出快刷\n- 标题 `iTunes-US快加`\
            \ + `US:25-495 电子图=5.3 (5倍)` → 标题包含\"快加\" → ✅ 直接输出快加\n- 标题 `iTunes-US快刷\
            \ (5-15min)` + `US:350-450 白卡=5.82(50倍)` → 标题包含\"快刷\" → ✅ 直接输出快刷\n\n**禁止输出的情况**（仅当标题无方法关键词时）：\n\
            - `1000-2000` → ❌ 超出10-500区间\n- `10-600 5倍` → ❌ 超出10-500区间\n- `5-300 50倍`\
            \ → ❌ 最小值小于10，不在10-500区间内\n\n**绝对禁止的行为（不允许有任何例外）：**\n- 禁止将超出10-500区间的面值判断为快加（仅当标题无方法关键词时）\n\
            - 禁止在无方法关键词且标题无方法关键词时为美国/英国苹果卡输出快刷或凑卡\n- **禁止在标题有方法关键词时仍进入2.2.3判断——标题继承的方法直接输出，跳过本规则所有判断**\n\
            \n**正确示例汇总：**\n| 原文 | 标题方法 | 行内关键词 | 国家 | 面值 | 倍数 | 结果 |\n|------|:--:|:--:|------|------|------|------|\n\
            | `200-500=5.8 50倍` | 无 | 无 | 美国 | 200-500 | 50倍 | ✅ 快加（在10-500内） |\n\
            | `100/150=5.75` | 无 | 无 | 美国 | 100/150 | 无 | ✅ 快加（在10-500内） |\n| `代码10-200=5.5（5倍）`\
            \ | 无 | 无 | 英国 | 10-200 | 5倍 | ✅ 快加（在10-500内） |\n| `横白卡图100-250=6.47（50倍）`\
            \ | 无 | 无 | 英国 | 100-250 | 50倍 | ✅ 快加（在10-500内） |\n| `US:200-500=5.8`\
            \ | 快刷 | 无 | 美国 | 200-500 | 无 | ✅ 快刷（标题继承） |\n| `US:100/150=5.75` | 快刷\
            \ | 无 | 美国 | 100/150 | 无 | ✅ 快刷（标题继承） |\n| `代码10-200=5.5（5倍）快加` | 无 |\
            \ 快加 | 英国 | 不检查 | 不检查 | ✅ 快加（行内关键词） |\n| `卡图10-200=3.6（5倍）` | 无 | 无 |\
            \ 加拿大 | 不检查 | 不检查 | ✅ 快加（非美英） |\n| `AUD 100-400=3.47 100倍` | 快刷 | 无 |\
            \ 澳大利亚 | 不检查 | 不检查 | ✅ 快刷（标题继承） |\n| `1000-2000卡图=5.18` | 无 | 无 | 美国 |\
            \ 1000-2000 | 100倍 | ❌ 禁止（超出10-500） |\n\n\n#### 2.2.4 快刷、凑卡的输出规则\n\n#####\
            \ 快刷判断（满足任一即可）\n- 行内明确包含 **\"快刷\"** 或 **\"极速\"** 关键词 → 输出快刷\n- 行内包含 **\"\
            极速网单\"** 且**段落注释无时间标注** → 归为**快刷**\n- 行内包含 **\"快网\"** 且**段落注释无时间标注** →\
            \ 归为**快刷**\n- 行内包含 **\"快速网单\"** 且**段落注释无时间标注** → 归为**快刷**\n\n##### 凑卡判断（满足任一即可）\n\
            - 行内明确包含 **\"凑卡\"** 或 **\"凑卡网单\"** 关键词 → 输出凑卡\n- 行内包含 **\"极速网单\"** 且**段落注释有时间标注**（如\
            \ `#使用时5-15min`、`#网单反馈时间 3-15分钟` 等）→ 归为**凑卡**\n- 行内包含 **\"快网\"** 且**段落注释有时间标注**\
            \ → 归为**凑卡**\n- 行内包含 **\"快速网单\"** 且**段落注释有时间标注** → 归为**凑卡**\n\n##### 判断优先级\n\
            1. 先检查行内是否有明确的\"快刷\"、\"凑卡\"、\"凑卡网单\"关键词（最高优先级）\n2. 再检查标题中的\"极速网单\"、\"\
            快网\"、\"快速网单\"，扫描段落注释判断时间标注\n   - 段落注释无时间标注 → 快刷\n   - 段落注释有时间标注 → 凑卡\n\
            \n#### 2.2.5 慢卡规则（仅英国苹果卡，美国苹果卡）\n- 只有行内明确包含 **“慢加”** 或 **“慢卡”或 **“慢”**\
            \ 关键词时，才输出慢卡记录。\n- 慢加仅适用于英国苹果卡，其他国家出现“慢加”或“慢卡”或“慢”关键词视为无效，忽略该行。\n\n###\
            \ 2.3 方法别名对照表（仅供苹果卡识别使用）\n| 标准方法 | 识别关键词（不区分大小写） | 适用国家 |\n|----------|---------------------------|----------|\n\
            | 快加 | 快加、快加问 | 所有国家 |\n| 快刷 | 快刷、极速、快刷 ，极速  ，外卡网单，卡图网单，快速网单，快速卡图网单，网单\
            \ | 所有国家 |\n| 凑卡 | 凑卡、凑卡网单 | 所有国家 |\n| 慢卡 | 慢加、慢卡、慢 | 仅英国，美国 |\n\n###\
            \ 2.4 特殊规则\n- **苹果卡面值为50时**：方法只能是 **“快加”** 或 **“快刷”**，不能是“凑卡”或“慢加”。如果原文同时出现多种提示，按2.2.1优先级取第一个匹配到的有效方法。\n\
            - 方法关键词可能出现在行内任何位置（如行尾的“快加问”、行中的“快刷”等），需准确识别。\n\n\n## 三、特殊卡种处理规则\n\n###\
            \ 3.1 雷蛇卡特殊处理\n- **黄金雷蛇US**：若出现 `US: 1-499=5.73 批量问` 等形式，提取面值区间（如 `1-499`），**不添加倍数括号**（即直接写\
            \ `1-499`），说明仍为“区间匹配”。\n- **外卡雷蛇**：对于 `国家=汇率` 的格式（例如“巴西=1.05”），输出 `value=\"\
            1以上\"`，不写倍数括号，说明“区间匹配”。遇到标注“暂停”的国家不输出。\n\n### 3.2 Xbox卡特殊处理\n- **常规Xbox卡**（如“美国\
            \ 10-250=5.1（5的倍数）”）：保留原文面值区间。\n- **外卡XBOX**：对于 `国家=汇率` 的格式（例如“加拿大=3.4”），统一输出\
            \ `value=\"10-250（5的倍数）\"`，说明“倍数匹配”。忽略任何“图/代码/卡图”等后缀。\n- **无明确面值范围的倍数格式**：\n\
            \  - 当行中出现类似 `US:5倍数 4.8 962W` 的模式（即包含“数字倍数”和“数字W”但没有明确面值区间），**不解析其中的倍数和W数字**，直接使用默认面值范围\
            \ `10-250（5的倍数）`，汇率取行中的数字（如4.8），说明“倍数匹配”。\n  - 若行中既有倍数和W，也有其他面值区间，则优先使用面值区间。\n\
            - **注意**：无论如何，只要没有明确的 `数字-数字` 格式的面值区间，统一回退到 `10-250（5的倍数）`。\n\n### 3.3\
            \ Paysafe卡处理\n- 面值范围可能以 `==` 或 `=` 分隔，或使用 `【】` 包裹汇率（如 `15-49【6.1】`）。\n\
            - 需解析出正确的面值区间和汇率。例如：\n  - `欧盟 EUR 50-500==6.55` → 面值 `50-500`，汇率 `6.55`\n\
            \  - `EUR-15-49【6.1】` → 注意：此格式出现在“注；”后的额外内容，应被忽略（见忽略规则）。\n- 无倍数标识时，说明写“区间匹配”。\n\
            \n### 3.4 苹果卡处理\n- 仅当有明确面值区间或单一面值时输出。根据规则1.3确定卡类型，并根据规则二确定方法。\n\n### 3.5\
            \ Chime卡特殊处理\n\n**卡名识别**：原文包含\"Chime\"或\"编钟\" → **Chime**\n\n**面值标注规则**：\n\
            - Chime卡的面值后面需要根据原文中的关键词添加标注：\n  - 原文包含 **\"邮箱\"** → 面值后添加 **（邮箱）**\n\
            \  - 原文包含 **\"标签\"** → 面值后添加 **（标签）**\n- 如果原文同时包含\"邮箱\"和\"标签\"，以行中出现的最后一个为准。\n\
            \n**方法**：Chime卡属于非苹果卡，方法一律为 **\"快加\"**。\n\n**卡名格式**：`Chime 美国`（不添加卡类型，默认地区为美国）\n\
            \n**示例**：\n输入：`邮箱 20+ 6.0`\n输出：`[{\"method\":\"快加\",\"cardname\":\"Chime\
            \ 美国\",\"value\":\"20以上（邮箱）\",\"rate\":\"6.0\",\"Exolanation\":\"区间匹配\"\
            ,\"groupname\":\"群名\"}]`\n\n输入：`标签 20+ 5.8`\n输出：`[{\"method\":\"快加\",\"\
            cardname\":\"Chime 美国\",\"value\":\"20以上（标签）\",\"rate\":\"5.8\",\"Exolanation\"\
            :\"区间匹配\",\"groupname\":\"群名\"}]\n\n**注意**：\n- Chime卡名称格式：`Chime {地区}`，**不添加卡类型**\n\
            - 地区默认美国\n\n\n## 四、忽略规则（不处理、不输出）\n\n以下内容**完全忽略**，不生成任何输出行：\n\n- **【====绿蛇====】**\
            \ 及其下方的所有内容，整段忽略。\n- **======【Roblox】======** 及其下方的所有内容，整段忽略。\n- 任何无面值区间的\"\
            碎卡=数字\"、\"散卡=数字\"、\"X倍=数字\"等格式，忽略。\n- 标注\"问问问\"、\"价格不稳\"、\"暂停\"的行，忽略。\n\
            \n- **任何行中出现\"审图\"、\"快网\"、\"外卡快网\"、\"快速网单\"、\"网单\"、\"卡图网单\"、\"快速卡图网单\"\
            字样，不处理、不输出：**\n  - 出现在标题行（以`#`、`【】`、`====`、`---`等开头）→ **整段忽略**，该标题下所有数据行全部不输出\n\
            \  - 出现在数据行 → **整行忽略**\n  - 示例：\n    - `#==英国== (3-5分钟网单)` → 标题包含\"网单\"\
            \ → 整段忽略\n    - `#==西班牙== (快速卡图网单3-5分钟)` → 标题包含\"卡图网单\" → 整段忽略\n    -\
            \ `#==瑞士== (网单3-5分钟)` → 标题包含\"网单\" → 整段忽略\n    - `#日本急速1-5分钟 审图` → 标题包含\"\
            审图\" → 整段忽略\n    - `150-500 -----6.2 (50倍数卡图网单)` → 数据行包含\"卡图网单\" → 整行忽略\n\
            \    - `电子图代码10-200=5.55#5倍审图` → 数据行包含\"审图\" → 整行忽略\n- 纯描述性行（如“使用时间3-5分钟”、“只能使用10的倍数”、“只要新版绿蛇”、“注：xxx”、“注；xxx”等）不处理、不输出。\n\
            - **对于英国苹果卡的“慢卡”处理（重要！）**：\n  - 当出现 `======UK慢卡===` 或 `======英国慢卡===`\
            \ 或任何包含 **“慢卡”** 的标题行时，该标题行下方的所有有效数据行**必须**使用 **“慢卡”** 作为方法。\n  - **慢卡仅适用于英国苹果卡**，其他国家出现“慢卡”关键词视为无效，忽略该行。\n\
            - **特别对于 Paysafe 卡部分**：任何出现在“注；”或“注：”之后的行，即使包含面值和汇率（例如 `EUR-15-49【6.1】`、`UK-\
            \ 50 以下【6.8】`），一律视为无效数据，忽略不输出。只有位于上方表格区域（以国家代码开头的行，如“欧盟 EUR 50-500==6.55”）才有效。\n\
            \n\n## 五、通用面值提取规则（适用于所有需要输出的卡种）\n\n### 5.1 有效格式识别与处理\n\n**第一步：按空格分割，提取所有“面值-汇率”候选对**\
            \  \n- 对于一行文本，先按空格拆分成多个子串（忽略卡名、地区等非数值部分）。\n- 每个子串如果包含 `=` 或 `【】`，视为一个候选对。\n\
            \n**第二步：解析每个候选对中的面值和汇率**  \n- **如果子串包含 `=`**：直接以 `=` 分隔，左边为面值部分，右边为汇率数字。\
            \  \n- **如果子串包含 `【】`**：提取 `【` 和 `】` 之间的数字作为汇率，`【` 之前的部分作为面值部分。  \n  示例：`10-250图密【5.25】`\
            \ → 面值部分 = `10-250图密`，汇率 = `5.25`。\n\n**第三步：清洗面值部分，提取有效的面值表达式**  \n- 从面值部分中去除卡类型关键词（如\
            \ `横白`、`电子`、`代码`、`图密`、`竖卡`）以及国家前缀（如 `US:`、`UK:`），只保留数字、`-`、`/`、`+` 等符号。\
            \  \n- 例如 `10-250图密` → 清洗后得 `10-250`；`100/150横白` → 清洗后得 `100/150`。\n\n\
            **第四步：解析清洗后的面值表达式**  \n- 如果表达式包含 `/`（如 `100/150`），则拆分为多个独立面值，每个单一面值一行，说明“精准匹配”。\
            \  \n- 如果表达式为 `数字-数字` 区间（如 `150-250`），则为区间格式，根据后续倍数规则处理。  \n- 如果表达式为 `数字-数字`\
            \ 但右边为小数（如 `100-5.05`），视为笔误，替换为 `数字=数字`，按单一面值处理。  \n- 如果表达式为纯数字（如 `100`），则为单一面值。\
            \  \n- 如果表达式包含 `+`（如 `20+`），则为“以上”格式，面值写 `20以上`。\n\n**第五步：确定方法**  \n-\
            \ 拆分出的每个记录，都继承原行所在段落的方法（默认方法或行内关键词指定的方法）。\n\n### 5.2 其他格式处理\n- **斜杠分割**：`数字/数字=汇率`\
            \ 按上述规则处理。\n- **单一面值**：`数字=汇率` 或 `数字+=汇率`，说明“精准匹配”。\n- **区间（带显式倍数）**：`数字-数字=汇率（X倍）`\
            \ 或 `数字-数字=汇率 X倍`，面值范围写 `最小-最大（X的倍数）`，说明“倍数匹配”。\n- **区间（带“问/快刷”字样）**：`数字-数字=汇率问`\
            \ 或 `数字-数字=汇率快刷`，面值范围写 `最小-最大（50的倍数）`，说明“倍数匹配”。\n- **区间（无倍数标识）**：`数字-数字=汇率`，面值范围写\
            \ `最小-最大`，说明“区间匹配”。\n\n### 5.3 汇率处理\n- 等号后面的数字（或 `【】` 中的数字），**保留原始小数位数**，不补零。\n\
            \n### 5.4 卡类型汇率偏移量处理规则\n\n**适用范围**：当一行出现\"卡类型关键词 + 偏移量\"的格式时（如\"竖卡-0.1\"\
            、\"电子卡+0.2\"），这不是一个独立的面值行，而是对**同一段落内上方已出现的面值行**的汇率调整说明。\n\n**识别规则**：\n\
            - 行中只有\"卡类型关键词\" + \"加减数字\"，**没有面值区间和等号**。\n- 例如：`竖卡-0.1`、`电子卡+0.2`、`代码卡-0.05`\n\
            - 卡类型关键词包括：竖卡、电子卡、代码卡、横白、卡图、白板等。\n\n**处理规则**：\n1. 该行**本身不输出任何记录**。\n2.\
            \ 该行表示：同一段落内，上方出现的所有面值行，在对应卡类型下，汇率在原基础上加减偏移量。\n3. 偏移量可能为正（+）或负（-），如 `-0.1`\
            \ 表示汇率减0.1，`+0.2` 表示汇率加0.2。\n4. 该规则只作用于**同一段落内、该偏移量行之前**出现的面值行（直到上一个卡类型偏移量行或段落标题）。\n\
            5. 如果偏移量行指定的卡类型与上方面值行中的卡类型关键词匹配，则该面值行的汇率需要调整。\n   - 例如上方是\"横白卡图\"，偏移量行是\"\
            竖卡-0.1\"，则竖卡版本的汇率 = 横白卡图汇率 - 0.1\n   - 如果偏移量行指定的卡类型在上方没有对应面值行，则忽略。\n\n\
            **示例**：\n输入：\n`横白卡图25-199=5.48`\n`竖卡-0.1`\n\n处理：\n- 横白卡图 25-199 → 汇率 5.48，输出白板卡\n\
            - 竖卡-0.1 → 表示竖卡版本：25-199 汇率 5.48-0.1=5.38，输出竖卡\n\n**重要**：\n- `竖卡-0.1`\
            \ 这种格式**不是有效面值行**，不输出\n- 只能根据上方已有面值行来派生对应卡类型的记录\n- 如果偏移量行上方有多个面值行，每个面值行都需要派生对应卡类型的记录\n\
            \n\n### 5.5 行内卡类型关键词作用域规则\n\n**规则**：当一行中出现卡类型关键词（横白、图密、电子、代码、竖卡、白板等）时，该关键词作用于**整行所有面值对**。\n\
            \n**处理方式**：\n1. 卡类型关键词在行中任意位置出现（行首、行中、行尾），均作用于整行。\n2. 如果一行中没有卡类型关键词，使用默认卡类型\
            \ **\"白板卡\"**。\n3. 如果一行中出现多个卡类型关键词，以**最后一个**为准。\n\n**示例**：\n输入：`US 20-90\
            \ 5倍 【5.1】图密 10/20【5.3】`\n- \"图密\"作用于整行\n- 三个面值对全部归为 **代码卡**：20-90、10、20\n\
            \n输入：`US 横白 100=5.5 电子 200=5.3`\n- \"电子\"是最后一个卡类型关键词\n- 两个面值对全部归为 **电子卡**：100、200\n\
            \n### 5.6 纯倍数格式处理（无明确面值区间）\n\n**格式**：当一行中只出现\"数字倍\"（如 `1000倍`、`50倍`），而没有明确的\
            \ `数字-数字` 面值区间时：\n\n**处理规则**：\n- 面值范围写为 `数字以上（数字的倍数）`\n- 例如：\n  - `1000倍`\
            \ → 面值范围 `1000以上（1000的倍数）`\n  - `50倍` → 面值范围 `50以上（50的倍数）`\n  - `5倍` →\
            \ 面值范围 `5以上（5的倍数）`\n\n**注意**：\n- 这与区间后面跟倍数不同（如 `10-250（5的倍数）`）\n- 纯倍数格式表示：起始面值\
            \ = 倍数数字，且面值必须是该倍数的整数倍\n\n### 5.7 \"图密同价\"规则\n\n**格式**：当一行中出现\"图密同价\"\
            或\"卡密同价\"时，需要根据上下文判断。\n\n**识别规则**：\n- `图密同价`：表示该行面值和汇率同时适用于白板卡和代码卡。\n\
            - `卡密同价`：表示代码卡同价，**但如果行内已经明确写了卡类型关键词（如\"卡密\"、\"图密\"、\"代码\"），则以该关键词为准，不额外派生**。\n\
            \n**处理规则**：\n1. 如果行内**没有**卡类型关键词：\n   - `图密同价` → 输出白板卡 + 代码卡两条记录\n   -\
            \ `卡密同价` → 输出白板卡 + 代码卡两条记录\n2. 如果行内**已有**卡类型关键词（如\"卡密\"、\"图密\"、\"代码\"\
            、\"横白\"、\"卡图\"等）：\n   - 以行内的卡类型关键词为准，**忽略**\"同价\"提示，只输出一条对应卡类型的记录。\n\n\
            **示例**：\n输入：`US 20=5.45 图密同价`（无卡类型关键词）\n输出：\n- 快加 苹果卡 美国 白板卡 20 5.45\n\
            - 快加 苹果卡 美国 代码卡 20 5.45\n\n输入：`法国卡密同价 100-250=5.21 50倍`（有\"卡密\"关键词）\n\
            输出：\n- 快加 苹果卡 法国 代码卡 100-250（50的倍数） 5.21\n（只输出一条，因为\"卡密\"本身就是代码卡）\n\n\
            输入：`CAD 25=3.85 图密同价`（无卡类型关键词）\n输出：\n- 快加 苹果卡 加拿大 白板卡 25 3.85\n- 快加 苹果卡\
            \ 加拿大 代码卡 25 3.85\n\n**核心原则**：\n- \"X同价\"只在行内没有明确卡类型时才生效\n- 如果行内已明确卡类型，以行内卡类型为准，不额外派生\n\
            \n## 六、输出格式（极其重要！）\n\n- **每个有效记录输出一行**，格式如下（标签之间无空格，严格按照顺序）：\n  {\"method\"\
            :\"方法\",\"cardname\":\"卡片名称\",\"value\":\"面值范围\",\"rate\":\"汇率\",\"Exolanation\"\
            :\"说明\",\"groupname\":\"群名\"}\n- **禁止输出任何额外解释文字、空行或分隔线**。\n- 多个记录直接连续输出。\n\
            \n**多行示例**：\n[\n  {\"method\":\"快刷\",\"cardname\":\"苹果卡 美国 白板卡\",\"value\"\
            :\"50\",\"rate\":\"5.6\",\"Exolanation\":\"精准匹配\",\"groupname\":\"S1999\"\
            },\n  {\"method\":\"快刷\",\"cardname\":\"苹果卡 美国 白板卡\",\"value\":\"100\"\
            ,\"rate\":\"5.78\",\"Exolanation\":\"精准匹配\",\"groupname\":\"S1999\"}\n\
            ]\n\n**示例**：\n- 输入：`US:200-500横白=5.66 50倍数`（苹果卡，横白，无方法关键词，面值200-500）\n\
            \  说明：美国苹果卡，无方法关键词，面值200-500不在快加列表中 → **禁止输出**\n  正确输出：（无输出）\n\n- 输入：`US:50横白快刷=5.55`（苹果卡，面值50，含“快刷”）\n\
            \  输出：[{\"method\":\"快刷\",\"cardname\":\"苹果卡 美国 白板卡\",\"value\":\"50\"\
            ,\"rate\":\"5.55\",\"Exolanation\":\"精准匹配\",\"groupname\":\"S1362\"}]\n\
            \n- 输入：`US:横白卡图10-190=5.7（5倍）`（苹果卡，无方法关键词，面值10-190在快加列表中，5倍）\n  输出：[{\"\
            method\":\"快加\",\"cardname\":\"苹果卡 美国 白板卡\",\"value\":\"10-190（5的倍数）\"\
            ,\"rate\":\"5.7\",\"Exolanation\":\"倍数匹配\",\"groupname\":\"S1362\"}]\n\
            \n- 输入：`【XBOX】US:10-250图密【5.25】`（Xbox卡，非苹果卡，默认快加）\n  输出：[{\"method\":\"\
            快加\",\"cardname\":\"苹果卡 美国 白板卡\",\"value\":\"10-190（5的倍数）\",\"rate\":\"\
            5.7\",\"Exolanation\":\"区间匹配\",\"groupname\":\"S1362\"}]\n\n- 输入：`卡图10-200=3.6（5倍）`（加拿大苹果卡，非美英，默认快加）\n\
            \  输出：[{\"method\":\"快加\",\"cardname\":\"苹果卡 加拿大 白板卡\",\"value\":\"10-200（5的倍数）\"\
            ,\"rate\":\"3.6\",\"Exolanation\":\"倍数匹配\",\"groupname\":\"S1362\"}]\n\
            \n## 七、重要提醒（必须遵守）\n- **必须输出输入中所有有效的面值区间，包括斜杠拆分产生的多个单一面值、所有不同金额的区间。**\n\
            - **同一卡片类型、同一面值范围、相同方法时，只保留汇率最高的行；不同方法即使卡名和面值相同，也必须分别输出。**\n  虽然卡名、面值范围相同，但方法不同（一个为“快刷”，一个为“凑卡”），因此两条记录都必须输出，不能合并或丢弃任一条。\n\
            - **不同卡类型（白板卡、电子卡、代码卡、竖卡）即使面值范围和方法相同，也必须分别输出，不得合并！** 例如：\n  - `苹果卡 加拿大\
            \ 代码卡 10-200` 和 `苹果卡 加拿大 白板卡 10-200` 是不同的卡类型，必须分别输出，不能只保留汇率最高的一个。\n- 绿蛇、Roblox\
            \ 相关内容一律忽略，不输出。\n- 黄金雷蛇卡的面值区间不写倍数括号（如 `1-499` 而不是 `1-499（50的倍数）`），说明仍为“区间匹配”。\n\
            - 外卡雷蛇卡无面值区间的“1以上”不写倍数括号。\n- Xbox卡外卡区域固定输出 `10-250（5的倍数）`。\n- Paysafe卡只输出表格区域的有效行，忽略“注；”后面的所有额外行。\n\
            - 苹果卡需要区分卡类型，其他卡不区分。\n- 必须遵守 四、忽略规则（不处理、不输出）\n- 必须遵守 三、特殊卡种处理规则\n- **必须为每条输出添加\
            \ \"Method\" 标签，且方法值根据规则二正确确定。**\n- **所有苹果卡的输出必须包含卡类型。如果原文未指定，默认使用“实体卡”。**\n\
            \n请严格按照上述规则输出，不要添加任何额外解释。"
        selected: false
        title: LLM
        type: llm
        vision:
          enabled: false
      height: 88
      id: llm
      position:
        x: 237.89533710505003
        y: -134.89431095112428
      positionAbsolute:
        x: 237.89533710505003
        y: -134.89431095112428
      selected: true
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        answer: '{{#1782353305995.body#}}'
        selected: false
        title: 直接回复
        type: answer
        variables: []
      height: 103
      id: answer
      position:
        x: 1180.1678401930787
        y: 75.36531888206127
      positionAbsolute:
        x: 1180.1678401930787
        y: 75.36531888206127
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        code: "import re\n\ndef main(full_text: str):\n    # ---------- 1. 提取群名 ----------\n\
          \    group_name = \"\"\n    # 匹配多种可能的群名行：“群名：xxx”、“真实群名：xxx”、“群名称: xxx”、“群组名：xxx”等\n\
          \    group_patterns = [\n        r'真实群名[：:]\\s*(.+)',\n        r'群名[：:]\\\
          s*(.+)',\n        r'群名称[：:]\\s*(.+)',\n        r'群组名[：:]\\s*(.+)',\n   \
          \     r'群组[：:]\\s*(.+)'\n    ]\n    for pattern in group_patterns:\n   \
          \     match = re.search(pattern, full_text)\n        if match:\n       \
          \     group_name = match.group(1).strip()\n            break\n\n    # ----------\
          \ 2. 逐行清理 ----------\n    lines = full_text.splitlines()\n    cleaned_lines\
          \ = []\n\n    for line in lines:\n        stripped = line.strip()\n    \
          \    if not stripped:\n            continue\n\n        # 删除纯分隔符行（如 ====\
          \ 或 ---- 或 ***）\n        if re.match(r'^[=\\-*_]{5,}$', stripped):\n   \
          \         continue\n\n        # 删除以“注：”、“注 ”、“#注”开头的全局注释行（保留行内#特殊信息）\n \
          \       if re.match(r'^(注[：:]|#注)', stripped):\n            continue\n\n\
          \        # 删除明显是纯注释的行（以#开头且不包含等号或括号或数字，避免误删行内#）\n        # 但注意像“#10=3.2”这种需要保留，所以只删除以#开头且整行没有数字、等号、括号的行\n\
          \        if stripped.startswith('#') and not re.search(r'[\\d=【\\]\\(\\\
          )]', stripped):\n            continue\n\n        # 删除仅包含“群名”关键字的行（已经提取过，避免干扰）\n\
          \        if re.match(r'^(群名|真实群名|群名称|群组名)[：:]', stripped):\n           \
          \ continue\n\n        # ---------- 3. 行内容规范化 ----------\n        # 将中文括号【】替换为普通括号或直接替换为等号？为了保留信息，将【xx】转换为=xx（但更简单：保留原样）\n\
          \        # 将全角～替换为-\n        line = line.replace('～', '-').replace('~',\
          \ '-')\n        # 将中文括号【】替换为 [] 便于后续正则，但最好保留原样（后续LLM可处理）\n        # 去除行首尾空格\n\
          \        line = line.strip()\n\n        # 特殊处理：某些格式如“10-49【7.11】50-500【7.26】”，可将其拆分为两个独立的“面值=汇率”形式。\n\
          \        # 识别连续两个【】的模式，将其拆成两个半行（但这里保持原样，让LLM解析更合适）\n        # 为了兼容性，我们不做拆分，保留原文本。\n\
          \n        # 将行内多个连续空格压缩成一个空格\n        line = re.sub(r'[ \\t]+', ' ', line)\n\
          \n        # 将全角逗号、分号等替换为英文（可选）\n        line = line.replace('；', ';').replace('，',\
          \ ',')\n\n        # 保留原样（包括#号，用于后续特殊解析）\n        cleaned_lines.append(line)\n\
          \n    # ---------- 4. 合并结果 ----------\n    text = \"\\n\".join(cleaned_lines)\n\
          \    # 合并连续空行（经过前面过滤，可能还有多个空行）\n    text = re.sub(r'\\n\\s*\\n', '\\n',\
          \ text).strip()\n\n    return {\n        \"cleaned_text\": text,\n     \
          \   \"group_name\": group_name\n    }"
        code_language: python3
        outputs:
          cleaned_text:
            children: null
            type: string
          group_name:
            children: null
            type: string
        selected: false
        title: 代码节点文本清理
        type: code
        variables:
        - value_selector:
          - sys
          - query
          value_type: string
          variable: full_text
      height: 52
      id: '1779174813837'
      position:
        x: -146.3104050988842
        y: -305.02853702241873
      positionAbsolute:
        x: -146.3104050988842
        y: -305.02853702241873
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        code: "def main(cleaned_text: str, group_name: str):\n    # 构建 LLM 所需的完整用户提示（注意三引号必须成对出现）\n\
          \    combined = f\"\"\"请分析以下清理后的卡类文本，群名为：{group_name}。\n\n清理后的文本：\n{cleaned_text}\n\
          \n严格按照系统提示词中的规则生成 Markdown 输出，特别注意：\n- 每个卡片类型表格中\"群名\"列填入 {group_name} 的值。\n\
          - 只输出最高汇率的行（同一卡类下面值范围中汇率最高的）。\n- 忽略价格不稳（如\"问问问\"）和无明确汇率的条目。\n\"\"\"\n  \
          \  \n    return {\"combined_prompt\": combined}"
        code_language: python3
        outputs:
          combined_prompt:
            children: null
            type: string
        selected: false
        title: 代码节点拼接变量
        type: code
        variables:
        - value_selector:
          - '1779174813837'
          - cleaned_text
          value_type: string
          variable: cleaned_text
        - value_selector:
          - '1779174813837'
          - group_name
          value_type: string
          variable: group_name
      height: 52
      id: '1779175620805'
      position:
        x: 237.89533710505003
        y: -305.02853702241873
      positionAbsolute:
        x: 237.89533710505003
        y: -305.02853702241873
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        code: "import json\n\ndef main(arg1: str):\n    records = json.loads(arg1)\n\
          \    \n    lines = []\n    for r in records:\n        line = f'<data><Method>{r[\"\
          method\"]}</Method><CardName>{r[\"cardname\"]}</CardName><value>{r[\"value\"\
          ]}</value><rate>{r[\"rate\"]}</rate><Groupname>{r[\"groupname\"]}</Groupname><endl/>'\n\
          \        lines.append(line)\n    \n    return {\"result\": \"\\n\".join(lines)}"
        code_language: python3
        outputs:
          result:
            children: null
            type: string
        selected: false
        title: 代码执行json转xml
        type: code
        variables:
        - value_selector:
          - llm
          - text
          value_type: string
          variable: arg1
      height: 52
      id: '1782352897044'
      position:
        x: 574.1311691076569
        y: -134.89431095112428
      positionAbsolute:
        x: 574.1311691076569
        y: -134.89431095112428
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        authorization:
          config: null
          type: no-auth
        body:
          data:
          - id: key-value-42
            key: ''
            type: text
            value: '{{#1782352897044.result#}}'
          type: raw-text
        headers: Content-Type::application/json
        method: post
        params: ''
        retry_config:
          max_retries: 3
          retry_enabled: true
          retry_interval: 100
        selected: false
        ssl_verify: true
        timeout:
          max_connect_timeout: 0
          max_read_timeout: 0
          max_write_timeout: 0
        title: HTTP 请求
        type: http-request
        url: http://192.168.3.39:9999/insert
        variables: []
      height: 139
      id: '1782353305995'
      position:
        x: 824.0997945667466
        y: 75.36531888206127
      positionAbsolute:
        x: 824.0997945667466
        y: 75.36531888206127
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    viewport:
      x: -136.7472675176781
      y: 364.24505233846526
      zoom: 0.8572440108367627
  rag_pipeline_variables: []
